---
import '../styles/global.css'

import Header from '../components/Header'
import Hero from '../components/Hero'
import About from '../components/About'
import WorkExperience from '../components/WorkExperience'
import Skills from '../components/Skills'
import Projects from '../components/Projects'
import Contact from '../components/Contact'
---

<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Shaun Fitzgibbon - Portfolio</title>
  </head>
  <body class='scroll-smooth'>
    <div
      class='z-0 h-screen snap-y overflow-scroll overflow-x-hidden bg-[rgb(27,19,43)] text-white scrollbar-thin scrollbar-track-gray-400/40 scrollbar-thumb-[#5B6393]/80'
    >
      <!-- Header -->
      <Header client:visible />

      <!-- Hero -->
      <section id='hero'>
        <Hero client:visible />
      </section>

      <!-- About -->
      <section id='about'>
        <About client:visible />
      </section>

      <!-- Experience -->
      <section id='experience'>
        <WorkExperience client:visible />
      </section>

      <!-- Skills -->
      <section id='skills'>
        <Skills client:visible />
      </section>

      <!-- Projects -->
      <section id='projects'>
        <Projects client:visible />
      </section>

      <!-- Footer / Contact -->
      <footer id='contact'>
        <Contact client:visible />
        <div
          class='flex h-14 flex-row items-center justify-center bg-[rgb(27,19,60)]'
        >
          <p class='p-2 text-gray-500'>
            Copyright © 2023 shaunfitzgibbon.dev All rights reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
